<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static\css\home.css">
    {% load static %}
    <title>home</title>
</head>
<body>
    <div class="navbar">
        <h1>CodingDojo Wall</h1>
        <a href="/logout">log off</a>
        <h2>welcome {{user.first_name}}</h2>
    </div>
    
    <form action="home/post_mes" method="POST" class="mess">
        {% csrf_token %} 
        <h2>Post a message</h2>
        <textarea name="message" cols="140" rows="5"></textarea>
        <div>
            <button type="submit">Post a message</button>
        </div>
    </form>
    <a href="/the_wall">View Comments</a>

    {% for mess in all_mess reversed %}
    <div class="tweets">
        <h2>{{mess.user.first_name}}</h2>
        <h3>{{mess.message}}</h3>
    </div>
    {% endfor %}
</body>
</html>